<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>BBS@dist</title>

  <%- include("./_share/stylesheets.ejs") %>

</head>

<body>
  <% if (!isAuthenticated) {%>
  <%- include("./_share/navbar.ejs") %>
  <% } else {%>
  <%- include("./_share/navbar-auth.ejs") %>
  <% } %>

  <main role="main" class="container">

    <div class="justify-content-center">
      <div class="border-bottom mt-5 mb-5">
        <h1>過去の掲示板履歴</h1>
      </div>

      <% if (isAuthenticated) {%>
      <%- include("./post/post-form.ejs") %>
      <% } %>
    </div>




  </main><!-- /.container -->

  <%- include("./_share/javascripts.ejs") %>
</body>

</html>